h2 Welcome #{current_user.name}!

h3 Let's get started!
p= link_to 'Add new content', '#', class: 'btn btn-primary'
p= link_to 'Connect new accounts', authentications_path, class: 'btn btn-default'
p= link_to 'Edit your settings', edit_user_registration_path, class: 'btn btn-default'
