| var previewBtn = $('#jsPreviewWeek#{@week.id}');
| var planBtn = $('#jsPlanWeek#{@week.id}');
| previewBtn.hide();
| planBtn.css("display", "block");
| previewBtn.parents('.step').addClass('done');

| var previewWeek = $("#{escape_javascript(render @week)}");
| var week = $('#week#{@week.id}');
| week.replaceWith(previewWeek);
