.label-my_content{background-color: #00A03E;}
.label-other_peoples_content{background-color: #53BBF4;}
.label-questions{background-color: #982395;}
.label-quotes_from_others{background-color: #0087CB;}
.label-resources{background-color: #777777;}
.label-words_of_wisdom{background-color: #FF85CB;}

