.contents-top {
  margin-bottom: 10px;
  overflow: hidden;

  .add-content-btn {
    position: relative;
    top: -3px;
  }
}

.content {
  margin-bottom: 20px;

  .content-header {
    background-color: #eff3f6;
    padding: 10px;
    margin-bottom: 10px;
  }

  .content-actions-buttons {
    display: none;
  }
}

.content:hover {
  .content-actions-buttons {
    display: block;
  }
}
