.content {
  background-color: #e8e8e8;
  padding: 20px;
  margin-bottom: 20px;

  .content-actions {
    padding: 10px 0;
  }

  .content-actions-buttons {
    display: none;
  }
}

.content:hover {
  .content-actions-buttons {
    display: block;
  }
}
