.message {
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  padding: 10px 0;
  margin-bottom: 10px;

  .msg-trash {
    position: relative;
    right: -5px;
    opacity: 0;
  }
}

.message:hover {
  .msg-trash {
    opacity: 1;
  }
}

.new_message {
  .msg-chars-left {
    display: inline-block;
    padding: 6px 12px;
    vertical-align: middle;
    color: #8899a6;
  }
  .msg-chars-left.overflow {
    color: #d40d12;
  }
}

@media (min-width: 407px) and (max-width: 480px) {
  .message {
    .social-img-sm {
      position: relative;
      left: -10px;
    }
  }
}
