.message {
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0,0,0,0.08);
  padding: 10px;
  margin-bottom: 10px;
}

#new_message {
  .msg-chars-left {
    display: inline-block;
    padding: 6px 12px;
    vertical-align: middle;
    color: #8899a6;
  }
  .msg-chars-left.overflow {
    color: #d40d12;
  }
}
