.social {
  .social-signin-buttons {
    .social-provider {
      font-weight: bold;
      margin-bottom: 8px;
    }
    .provider {
      margin-bottom: 15px;
    }
  }
}

.social-img {
  width: 64px;
  height: 64px;
  display: inline-block;
  text-indent: -9000em;
  overflow: hidden;
  margin-right: 15px;
}

.social-img-sm {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.google-md { background: image-url("social/google-64.png"); }
.facebook-md { background: image-url("social/facebook-64.png"); }
.twitter-md { background: image-url("social/twitter-64.png"); }
.linkedin-md { background: image-url("social/linkedin-64.png"); }

.google-sm {background: image-url("social/google-32.png");}
.facebook-sm {background: image-url("social/facebook-32.png");}
.twitter-sm {background: image-url("social/twitter-32.png");}
.linkedin-sm {background: image-url("social/linkedin-32.png");}
